<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="true"/>
  </runtime>
  <appSettings>
    <add key="StartupTaskId" value="MonitorianStartupTask"/>
    <add key="ProjectUrl" value="https://github.com/emoacht/Monitorian"/>
  </appSettings>
</configuration>
